name: Build and Release

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
            label: linux-amd64
          - goos: linux
            goarch: arm64
            label: linux-arm64
          - goos: linux
            goarch: 386
            label: linux-386
          - goos: windows
            goarch: amd64
            label: windows-amd64
            ext: .exe
          - goos: windows
            goarch: 386
            label: windows-386
            ext: .exe
          - goos: darwin
            goarch: amd64
            label: macos-intel
          - goos: darwin
            goarch: arm64
            label: macos-apple-silicon

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
        check-latest: true

    - name: Install Swag
      run: go install github.com/swaggo/swag/cmd/swag@latest

    - name: Generate Swagger Docs
      run: swag init

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        CGO_ENABLED: 0
      run: |
        OUTPUT_NAME="BaiduPCS-Go-${{ matrix.label }}${{ matrix.ext }}"
        go build -v -o build/$OUTPUT_NAME
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: BaiduPCS-Go-${{ matrix.label }}
        path: build/*

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: build/BaiduPCS-Go-${{ matrix.label }}${{ matrix.ext }}
